.main{
    width: 500px;
    height: 500px;

}
.header{
    width: 500px;
    height: 100px;
    
}
.game{
    width: 300px;
    height: 300px;
    
}
.option{
    width: 200px;
    height: 300px;
    float: left;    
}
.footer{
    width: 500px;
    height: 300px;
    
}
.img_title{
    width: 300px;
    height: 80px;
}
table{
    background-image: url(../recources/table.png);
}
td{
    width: 96px;
    height: 96px;
}
.imgJ{
    width: 92px;
    height: 92px;
    margin-left: 4px;
    margin-bottom: 2px;
    margin-right: 2px;
}
.won,.lost{
    width: 50vw;
    margin-left: 25vw
}